* {
  margin: 0px;
  padding: 0px;
  border: 0;
}

.pricing_table {
  padding: 1px;
  max-width: 1192px;
  max-height: 736px;
  background: #3a4965;
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
}

.pisun {
  background: #fafafa;
  margin: 20px;
  border: 1px solid black;
  min-width: 1143px;
  min-height: 684px;
  font-family: "Arimo", sans-serif;
  border-collapse: collapse;
}

.prc-plan {
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.prc-plan span {
  font-size: 30px;
}
.color-text {
  color: white;
}
.plans {
  font-family: "Arimo", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.plans:nth-child(3) {
  font-size: 30px;
}
.header{
  
}
.price {

  flex-direction: row;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 28px;
  position: relative;
  top: 10px;
}

.price sup {
  font-size: 28px;
  margin: 0;
  padding: 0;
  vertical-align:text-top;
  position: absolute;
  top: -10px;
}

.price .price-per {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  text-align: center;
  bottom: 15px;
}
tr,
th,
td {
  height: 72px;
  box-sizing: border-box;
}
.string {
  color: #484848;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.string:nth-child(odd) {
  background: #f2f2f2;
}
.string:nth-child(even) {
  background: #e3e3e3;
}

.button-buy {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-width: 192px;
  min-height: 51px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;


}

.button-buy svg{
  position: absolute;
  bottom: 0;
}